@chaset "utf-8";
*{margin:0;padding:0;}
body{background-color:#FFFFFF;font-size:13px;font-family:Tahoma,Arial,Verdana, Helvetica;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
em,strong{font-style:normal;}
a{color:#0066CC;}
a:link,a:visited{text-decoration:none;}
a:hover{ text-decoration:underline;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.clear:after{content:".";display:block;clear:both;height:0;visibility:hidden;overflow:hidden;}
.undis{display:none;}

/*hacks for ie(6)*/
div,ul,dl,dd,li,p{_zoom:1;}

.underline:link,
.underline:visited{text-decoration:underline;}
/*top*/
#admin-body{min-width:900px;background-color:#EBEFF2;}
#admin-top{width:100%;height:55px;background:url(../img/top_bg.jpg) repeat-x top;position:relative;}
.admin-logo{float:left;}
.admin-title{float:left;margin-top:22px;margin-left:15px;line-height:20px;color:#CFE1F8;font-size:16px;}
/*top-changeSys*/
.changeSys{ position:relative; float:left; height:22px; margin:22px 0 0 20px;  line-height:22px;  cursor:pointer;z-index:1;}
.changeSysTitle{height:20px;padding:0 17px 0 10px;background:url(../img/change_sys.gif) right 9px no-repeat;line-height:20px;color:#98B8E1;z-index:2;white-space:nowrap;}
.changeSysTitleHover{background:url(../img/change_sys_hover.gif) no-repeat right top;}
.changeSysCon{min-width:120px;display:none;position:absolute;top:19px;right:0;background:#FFFFFF;border:1px solid #FFC155;}
.changeSysCon li{width:100%;border-top:1px solid #EFF1F5;}
.changeSysCon li:hover,
.changeSysCon li.hover{background:#ffefcf;}
.changeSysCon a{display:block; height:22px; padding:0 10px; line-height:22px; color:#00388A; white-space:nowrap; }
.changeSysCon a:hover{color:#f00;background:#ffefcf;text-decoration:none;}

.welcome{height:20px;line-height:20px;color:#93B5E0;padding-right:20px;float:right;margin-top:20px;}
.welcome a{color:#FFF;}

.custom-menu{height:20px;line-height:20px;float:right;margin-top:20px;position:relative;margin-right:20px;_display:inline;}
.custom-menu-title{padding:0 15px 0 10px;color:#98B8E1;background:url(../img/change_sys.gif) right 9px no-repeat;font-weight:normal;cursor:pointer;}
.custom-title-hover{color:#FFF;}
.custom-menu-list{padding:5px;display:none;position:absolute;top:20px;right:0;border:1px solid #CCC;background-color:#FFF;}
.custom-menu-list li{float:left;vertical-align:middle;white-space:nowrap;overflow:hidden;}
.custom-menu-list li a{padding:2px 4px;display:block;color:#000;border:1px solid #FFFFFF;float:left;}
.custom-menu-list li a:hover{color:#FFFFFF;background-color:#4661AE;text-decoration:none;}

.custom-menu-inline{display:inline-block;margin:0;float:none;}
.custom-menu-inline .custom-menu-title{color:#0066CC;}

.admin-top-toggle{width:100%;height:7px;overflow:hidden;background:url(../img/top_toggle_bg.png) no-repeat center 0;cursor:pointer;}
.admin-top-toggle:hover{background-color:#CDD0DF;}
.admin-top-hide{background-position:center -7px;}


/*side*/
#admin-side{width:200px;position:absolute;top:62px;left:0;z-index:1;}
.admin-side-title{width:200px;height:30px;position:relative;background:url(../img/lefttopbg.jpg) repeat-x;}
.admin-side-title .titl{display:block;width:6px;height:30px;overflow:hidden;position:absolute;top:0;left:0;background:url(../img/lefttopbg_l.jpg) no-repeat;}
.admin-side-title .titr{display:block;width:6px;height:30px;overflow:hidden;position:absolute;top:0;right:0;background:url(../img/lefttopbg_r.jpg) no-repeat;}
.admin-side-title .titm{line-height:30px;padding-left:15px;color:#EBF3FE;}
#admin-side-con{border:1px solid #DDDDDD;background-color:#FFFFFF;border-top:none;}
/*side-nav*/
.admin-nav-box{width:186px;height:100%;overflow-y:auto;margin-left:5px;position:relative;}
.admin-nav{margin-top:5px;border:1px dotted #E8E8E8;border-bottom:none;}
.navtit{line-height:17px;border-bottom:1px dotted #F1F1F1;position:relative;}
.navtit a{display:block;padding:6px 0 6px 17px;background:url(../img/left_nav_list_bg.gif) no-repeat 8px 14px;color:#000;}
.navtit a.current{background-image:url(../img/left_nav_cur_bg.gif);color:#FF9900;}
.navtit a.hover{text-decoration:none;background-color:#4661AE;background-image:none;color:#FFFFFF;}
.navsub{display:none;}

#admin-nav-sub-wrap{width:420px;padding:5px;position:absolute;top:0;left:174px;border:3px solid #4661AE;background-color:#FFF;z-index:3;display:none;}
#admin-nav-sub-wrap .navsub{display:block;}
#admin-nav-sub-wrap .navsub li{width:200px;float:left;padding:5px 0;margin-left:10px;}
#admin-nav-sub-wrap .navsub .float_left_menu {float:left !important;}
#admin-nav-sub-wrap .navsub li a{display:inline;padding:0;background:none;color:#000;}
#admin-nav-sub-wrap .navsub li a:hover{color:#FF9900;}

/* Added for two level report navigation */
.inner_mnu
{  display:none; position:absolute; left:130px; top:0px; z-index:9999; width:300px; background:#FFF; border: 3px solid #4661AE;
}
li.submenu_hover
{
  float:inherit !important; position:relative;
}
.submenu_hover:hover .inner_mnu
{
  display:block;
}
#admin-nav-sub-wrap .navsub li a { white-space:nowrap;}



.admin-side-toggle{width:10px;height:47px;overflow:hidden;position:absolute;top:62px;left:200px;background:url(../img/side_toggle_bg.png) no-repeat 0 center;cursor:pointer;}
.admin-side-toggle:hover{background-color:#CDD0DF;}
.admin-side-hide{background-position:-10px center;}

#admin-main{margin-left:210px;}
#admin-main-con{width:auto;border:1px solid #DDDDDD;background:#FFFFFF url(../img/page_loading.gif) no-repeat center center;overflow:hidden;}

#admin-foot{width:100%;height:30px;line-height:30px;text-align:center;color:#8C8C8C;position:absolute;left:0;bottom:0;}

/*sub layout style*/
.admin-path{padding:10px 10px 5px;border-bottom:1px dashed #CCC;}
.admin-path a{color:#0066CC;}
.main-title{border-bottom:1px dashed #CCC;background-color:#F9F9F9;padding:6px 10px;font-size:16px;font-weight:bold;color:#000;font-family:Arial,sans-serf;}
#admin-contents{padding:10px;}
.sub-content{padding:10px 0;} /*overflow:hidden;min-width:800px;*/

/*title style*/
.sub-title-box{/*height:45px;*/position:relative;border-bottom:1px dashed #CCC;}
.sub-title{display:inline-block;height:45px;line-height:45px;font-size:24px;font-weight:normal;vertical-align:middle;color:#000;padding-right:30px;}
.folding .sub-title{background:url(../img/admin_title_bg.gif) no-repeat right -70px;cursor:pointer;}
.folding .sub-title-open{background-position:right 18px;}
.absolute-right{position:absolute;top:12px;right:0;}
.toolbar{height:35px;}
.toolbar .absolute-right{top:0;}
/*table style*/

table a{color:#0066CC;font-size: 12px;}
.table1{width:100%;border:1px solid #CEE3FA;}
.table1 th{background:#CEE2FB url(../img/th_bg.jpg) repeat-x; color:#1D4D79;font-size:12px;height:31px;line-height:25px;padding-left:15px;text-align:left;}
.table1 td{padding:7px 0 7px 15px;text-align:left;font-size: 12px;}
.table1 tr.trEven{background-color:#F5F5F5;}
.table1 tr.high-light{background:url(../img/tr_hl_bg.jpg) repeat-x left center;}
.table1 tr.tr-clicked{background:url(../img/tr_hl_bg.jpg) repeat-x left center;}
.show-more{background:url(../img/show_more.jpg) no-repeat left center;padding-left:17px;}

.table2{width:100%;border:1px solid #D7DDD1;}
.table2 th{font-size:12px;font-weight:bold;color:#000;line-height:25px;background-color:#D8F0FA;text-align:left;padding-left:15px;}
.table2 td{padding:7px 0 7px 15px;border-bottom:1px solid #ECEDE8;text-align:left;}
.table2 td.lastrow{padding:7px 0 7px 15px;text-align:left;;border-bottom:1px solid #000000;}
.table2 td.nopadding{ padding:0px;}
.table2 tr.trEven{background-color:#F9FDFF;}
.table2 tr.high-light{background:url(../img/tr_hl_bg.jpg) repeat-x left center;}
.table2 tr.tr-clicked{background:url(../img/tr_hl_bg.jpg) repeat-x left center;}

.table3{border:1px solid #D7DDD1;}
.table3 th{background-color:#DFEDCC;color:#315702;padding-left:10px;text-align:left;line-height:25px;font-weight:normal;}
.table3 td{border-bottom:1px solid #ECEDE8;text-align:left;padding:5px 0 5px 10px;}
.red_border {
    border-top: 1px solid red !important; border:solid 1px red !important;
}
.table4{border:1px solid #D7DDD1;}
.table4 th{font-size:12px;font-weight:bold;color:#000;line-height:25px;background-color:#D8F0FA;text-align:left;padding-left:15px;padding-right:15px;border-left:1px dashed #D8DDD2;}
.table4 td{border-bottom:1px solid #ECEDE8;text-align:left;padding:5px 5px 5px 10px;border-left:1px dashed #D8DDD2;}
.table4 tr.high-light{background:url(../img/tr_hl_bg.jpg) repeat-x left center;}
.table-center-padding10 th{ padding:0 5px 0 5px;text-align: center;}
.table-center-padding10 td{ padding:5px;text-align: center;}
/*filter style*/
.filter{padding:15px 0;overflow:hidden;}
.filter li{float:left;margin-right:10px;_display:inline;}
.filter li a{float:left;padding:2px 6px;border:1px solid #FFFFFF;color:#0177FD;}
.filter li a.current{background-color:#5F94D8;border-color:#487BBD;color:#FFFFFF;font-weight:bold;}

.table5{border:none;}
.table5 tr{border:none;}
.table5 th{border:none; padding:4px 5px 7px;}
.table5 td{border:none; padding:4px 5px;}

/*pager style*/
.pager-box{padding:10px 0;overflow:hidden;}
.pager{height:18px;line-height:16px;color:#00388a;}
.pager a{ color:#00388a;  line-height:14px;}
.pager a.go{ float:left; padding:2px 3px; height:14px; background:url(../img/page_bg.gif) no-repeat;}
.pager a.first{ width:8px;  background-position: 2px 3px; *background-position: 2px 2px; }
.pager a.pre{ width:20px; margin-left:11px; display:inline;  background-position:-28px 3px; }
.pager a.last{ width:8px; margin-left:11px; display:inline; background-position:2px -16px; }
.pager a.next{ width:20px; margin-left:11px; display:inline; background-position:-64px -16px; }
.pager span{ float:left; height:18px;}
.pager span a{ padding:0 6px; line-height:16px;}
.pager span b{ padding:1px 7px 0; background:#128DDA; color:#fff;}
.pager-left{float:left;}
.pager-right{float:right;}
.each-page-show{float:left;}

.yiiPager{height:18px;line-height:16px;color:#00388a;display:inline;}
.yiiPager li{display:inline;padding:0 3px;}
.yiiPager li a{color:#00388a;font-family:Arial;padding:2px 6px;border:1px solid #CEE3FA}
.yiiPager li a:hover{background-color:#EAEAEA;text-decoration:none;}
.yiiPager li.selected a{background-color:#128DDA;color:#FFF;}
.yiiPager li.selected a:hover{background-color:#128DDA;}
/*tab style*/
.tab-box{padding:10px 0;}
.tab-tit{height:32px;background:url(../img/tab_title_bg.gif) repeat-x left 31px;padding-left:20px;}
.tab-tit h3,
.tab-tit .tab-select{float:left;height:30px;line-height:30px;margin-top:2px;padding-left:18px;font-size:14px;background:url(../img/tab_title_bg.gif) no-repeat left -40px;font-weight:normal;margin-right:1px;cursor:pointer;_display:inline;position:relative;}
.tab-tit h3{z-index:1;}
.tab-tit .tab-select{z-index:2;}
.tab-tit h3 span,
.tab-tit .tab-select span{float:left;height:32px;padding-right:18px;background:url(../img/tab_title_bg.gif) no-repeat right -40px;cursor:pointer;}
.tab-tit .tab-select em{float:left;padding-right:20px;height:30px;line-height:30px;background:url(../img/change_sys.gif) no-repeat right center;}

.tab-tit .current{height:32px;line-height:32px;margin-top:0;font-weight:bold;background-position:left -8px;}
.tab-tit .current span{background-position:right -8px;}
.tab-tit .current em{height:32px;line-height:32px;}
.tab-tit .tab-select ul{width:190px;position:absolute;top:30px;left:0;box-shadow:3px 3px 2px #CCCCCC;border:1px solid #C3C3C3;display:none;background:#FFF;}
.tab-tit .current ul{top:32px;}
.tab-tit .tab-select ul li{line-height:20px;padding:3px 10px;font-weight:normal;border-top:1px solid #FFF;border-bottom:1px solid #FFF;}
.tab-tit .tab-select ul li.hover{background:#F9FDFF;border-color:#DFF4FF;}
.tab-tit .tab-select ul li.cur{background:#D9E6F4;border-color:#D9E6F4;}
.tab-tit .outlink{cursor:default;}
.tab-tit .outlink span{cursor:default;}
.tab-tit .tab-select-link ul li{cursor:default;}
.tab-con{padding:10px 0;display:none;min-height:200px; clear: both;}
.tab-select-con{display:none;}


/*button style*/
.btn,.btn2{display:inline-block;height:25px;line-height:25px;padding:0 20px;min-width:50px;border:0 none;background:#FFFFFF;border:1px solid #3F6083;background:url(../img/btn_bg.png) repeat-x top;color:#FFF;font-family:Tahoma,Arial,Verdana,Helvetica;cursor:pointer;font-size:15px;overflow:hidden;text-align:center;vertical-align:middle;}
.btn2{background-position:0 -40px;color:#000;border-color:#C7C7C7;}
.btn:hover,
.btn2:hover{background-position:0 -80px;border-color:#F48A00;text-decoration:none;color:#FFFFFF;}
.btn-bg{background-color:#F9FDFF;padding:20px 0;}
.btn-middle{text-align:center;}
.btn-right{text-align:right;}
.btn:disabled{background-image: none; background-color: #ccc; border-color: #bbb;}

/*fix button style for firefox*/
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
/*fix end*/


.indent5{margin-left:5px;_display:inline;}
.indent10{margin-left:10px;_display:inline;}
.indent15{margin-left:15px;_display:inline;}
.indent20{margin-left:20px;_display:inline;}

/*form style*/
.group-title{height:35px;line-height:35px;font-size:21px;color:#888;font-weight:normal;margin:10px 0 0;padding-left:10px;clear:both;}

.frmWrap{}
.flist{overflow:hidden;padding:5px 0;}
.flabel{float:left;color:#555;text-align:right;width:180px;}
.fcon{float:left;margin-left:5px;}

.frmWrapPercentage .flabel{width:22%;max-width:320px;}
.frmWrapPercentage .fcon{width:73%;}

.frmTable td{padding:5px 0 5px 5px;}
.frmTable td.textr{vertical-align:top;}
.frm-align .textr{padding-left:15px;}
form label{margin-right:10px;}
form label input{cursor:pointer;}
.label{color:#555;}
#admin-contents .textr{text-align:right;}
#admin-contents .textl, th.textl{text-align:left;}
#admin-contents .textc{text-align:center;}
#admin-contents .table-textc td{text-align:center;}
#admin-contents .table-textc th{text-align:center;}
select{padding:2px;border:1px solid #CCC;}
.itext{border:1px solid #D8E0E9;padding:3px;border-top-color:#BEC0C5;border-left-color:#E2E3EA;border-right-color:#E2E3EA;vertical-align:middle;font-family:Arail,Tahoma,Verdana,Helvetica;}
.itext:focus{background-color:#EEFAFF;}

.calendar,.calendar-style{width:80px;padding-right:20px;background:#FFF url(../img/calendar.gif) no-repeat right center;}
.calendar-with-auto{width:auto;}
.para{padding:5px 0;}
.sidenote{color:#777;}
textarea{font-size:13px;line-height:1.4em;overflow:auto;}
.table-cell-center th,
.table-cell-center td{text-align:center;}

#mini-tip{width:240px;border:1px solid #CCC;background-color:#FAFAFA;position:absolute;display:none;z-index:10;}
#mini-tip-con{padding:10px;min-height:20px;_height:20px;}
#mini-tip-arrow{display:block;width:10px;height:6px;background:url(../img/mini_tip_arrow.gif) no-repeat;position:absolute;top:-6px;left:10px;}
#mini-tip-close{display:block;width:12px;height:12px;background:url(../img/mini_tip_close.gif) no-repeat center center;cursor:pointer;position:absolute;top:7px;right:7px;}
.tip-error{background-color:#FFF7F7;color:#F00;}

/*basic style*/
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w160{width:160px;}
.w180{width:180px;}
.w200{width:180px;}
.w200 textarea{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w900{width:900px;}
.w1000{width:900px;}
.w100p{width:100%;}
.w80p{width:80%;}

.h40{height:40px;}
.h60{height:60px;}
.h80{height:80px;}
.h100{height:100px;}
.h120{height:120px;}
.h180{height:180px;}
.h500{height:500px;}
.h600{height:600px;}
.h700{height:700px;}
.h800{height:800px;}

.padding0, td.padding0{padding:0;}
.padding10{padding:10px;}
.padding-10-20{padding:10px 20px;}
.padding-10-0{padding:10px 0;}
.padding-20-0{padding:20px 0;}
.padding-0-5{padding:0 5px;}
.padding-0-10{padding:0 10px;}
.padding-0-20{padding:0 20px;}

.border1{border:1px solid #EFF1ED;}
.border2{border:1px solid #CCCCCC;}
.border_bot2{border-bottom: 1px dashed #CCC; }

.font11{font-size:11px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font18{font-size:18px;}

.bold{font-weight:bold;}
.gray{color:#999;}
.green{color:#390;}
.red{color:#F00;}
.orange{color:#F47804;}
.carmine{color:#990000;}

.bggray{background-color:#F5F5F5;}
.bgblue{background-color:#9cf}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.ml10{margin-left: 10px;}
.mb10{margin-bottom: 10px;}
.hide{display:none;}
.icon-delete{display:inline-block;width:16px;height:16px;background:url(../img/x_s.gif) no-repeat left center;vertical-align:middle;color:#999;}

.attribute-title{padding:5px 10px;background:#F9FDFF;font-size:14px;font-weight:bold;color:666;margin:10px 0;}
.attributes label{display:block;line-height:20px;margin:0 10px 3px 0;}
/*error box */
.errorbox {border:1px solid #EC4F1A;border-radius:3px;padding:15px 15px 15px 80px;color:#333;background:#FEF1ED url(../img/tip_error.png) no-repeat 10px 10px;margin-top:15px;}
.errorbox h2{line-height:200%;font-size:16px;color:#F00;}


/*success box */
.successbox {border:1px solid #339900;border-radius:3px;padding:15px 15px 15px 80px;color:#333;background:#E6FEDA url(../img/tip_success.png) no-repeat 10px 10px;margin-top:15px;}
.successbox h2{line-height:200%;font-size:16px;color:#390;}

/*notice box */
.noticebox {border:1px solid #FBA71A;border-radius:3px;padding:15px 15px 15px 80px;color:#333;background:#FEFAD8 url(../img/tip_warn.png) no-repeat 10px 10px;margin-top:15px;}
.noticebox h2{line-height:200%;font-size:16px;color:#F90;}

/*tip box */
.tipbox {border:1px solid #339900;border-radius:3px;padding:15px 15px 15px 80px;color:#333;background:#E6FEDA url(../img/tip_info.png) no-repeat 10px 10px;margin-top:15px;}
.tipebox h2{line-height:200%;font-size:16px;color:#F90;}

.tip-notice{padding:5px 0 5px 15px ;background:url(../img/icons/tip_alert.gif) no-repeat left center;color:#0066D5;}
.fline{margin:10px 0 10px ;border-top:1px solid #eee;}


/*icon styles*/
.btn3{display:inline-block;height:22px;line-height:22px;padding:0 15px;background-position:0 -40px;color:#000;border:0 none;border:1px solid #C7C7C7;background:#FFF url(../img/btn_bg.png) repeat-x left -40px;font-family:Tahoma,Arial,Verdana,Helvetica;cursor:pointer;font-size:15px;overflow:hidden;text-align:center;vertical-align:middle;}
.btn3:hover{background-position:0 -80px;border-color:#F48A00;text-decoration:none;color:#FFFFFF;}
input[type="submit"].btn3{height:auto;}
/*set active*/
.state-inactive{display:inline-block;height:20px;width:20px;overflow:hidden;background:url(../img/set_active_btn.png) no-repeat 3px -21px;cursor:pointer;vertical-align:middle;}
.state-active{display:inline-block;height:20px;width:20px;overflow:hidden;background:url(../img/set_active_btn.png) no-repeat 3px -21px;cursor:pointer;background-position:3px 3px;}

/*sub filter box*/
.stateFilter .state-default{margin-right:5px;margin-top:-4px;}

/*global loading*/
#global-loading{width:50px;height:50px;background:#FFF url(../img/page_loading.gif) no-repeat center center;position:absolute;top:0;left:0;z-index:999999999;box-shadow:0px 0px 7px #ccc;overflow:hidden;text-align:center;color:#999;display:none;border-radius:25px;}
.hint{font-size: 90%; color:#aaa; font-style: italic; }
.popwin-ajax-box{height:315px;overflow-x:hidden;overflow-y:auto;}

/* alignment styles */
.al-top{ vertical-align: top; }
.al-top td{ vertical-align: top; }

/* gridview styles */
.grid-view{ padding-top: 0px; }

.textt, table.textt td{ vertical-align: top; }
.textb, table.textb td, td.textb{ vertical-align: bottom; }

/* Styles for orderd list */
.ol{list-style: decimal; padding-left: 27px;}
.ol li{margin: 4px 0; white-space: nowrap;}
/*tour-type*/
.tour_oneday {font-size:9px ; color:#fff;margin-left:2px;background:red}
.tour_multiday {font-size:9px ; color:#fff;margin-left:2px;background:red}
.tour_cruise {font-size:9px ; color:#fff;margin-left:2px;background:red}
.tour_hotel {font-size:9px ; color:#fff;margin-left:2px;background:red}
.tour_trans {font-size:9px ; color:#fff;margin-left:2px;background:red}

hr.dashed{ border-bottom: 1px dashed #CCC; border-top: none; margin: 5px 0 15px; }

.room{white-space: nowrap;}

/* Jquery Sort tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
/* info box */
.infoBoxHeading { font-family: Verdana,Arial,Tahoma,Helvetica; font-size: 10px; color: #ffffff; background-color: #9E5C14; padding: 4px 0px;}
.infoBoxContent { font-family: Verdana,Arial,Tahoma,Helvetica; font-size: 10px; color: #000000; background-color: #F0E1C3; }
a.col_a1_popup {
    color: #00388A;
    font-family: Tahoma,Arial,Verdana,Helvetica;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}
.thumbnail {
    outline: medium none;
    position: relative;
    z-index: 0;
}
.thumbnail span {
    background-color: lightyellow;
    border: 1px dotted gray;
    color: black;
    left: -100px;
    opacity: 0.95;
    padding: 5px;
    position: absolute;
    text-decoration: none;
    visibility: hidden;
}
.dataTableContent {
    color: #000000;
    font-family: Verdana,Arial,Tahoma;
    font-size: 10px;
}
a.col_a1_popup:hover{line-height:18px; font-size:12px; font-family:Tahoma, Arial, Verdana, Helvetica;}
.thumbnail:hover { background-color: transparent; z-index: 50; text-decoration:none; }
.thumbnail:hover span { /*CSS for enlarged image on hover*/ visibility: visible; top:12px; left:0px !important; left:0px; }
.nobr{white-space:nowrap; }
.dataTableRowSelectedPink, .table2 tr.dataTableRowSelectedPink {
    background-color: #F8E0F3;
}
.messageStackSuccess { font-family: Verdana; font-size: 11px; background-color: #99ff00; }
.dataTableRowSelectedYellow {
    background-color: #FFFFCC;
}
.dataTableRowSelectedRedTotal {
    background-color: #FCA4AC;
}

.current-paste{background-color:#EFF8E7;}
.current-copy{border-color:#F90;}
.price-zebra td{background:#F4F7FE;}

.textr{text-align: right;}
.textc{text-align: center;}
.lang_en{color:blue;}
.lang_es{color:red;}
.lang_zh{color:green;}

/* jquery datepicker z-index patch */
.ui-datepicker{ z-index: 999999 !important;}
.pop_box_design
{	background:#fff;  border: 2px solid #000; color:#000; float:right; right:95px; padding:5px; position:absolute; width:670px; display:none; padding:15px;
}
*+html .pop_box_design
{ margin-top:20px;
}
.pop_box_design span
{ float:left; width:99%; border:solid 1px #000; line-height:22px; padding:5px; margin-bottom:10px;
}
.close_but
{ float:right; top:-30px; right:-30px; position:absolute;
}
a.view_details_but
{ margin-left:17px; width:20px; height:19px; float:left; background:url(../img/view_details_but.png) no-repeat -20px 0;
}
a.view_details_but:hover
{ background:url(../img/view_details_but.png) no-repeat 0 0;
}
.widget_inner_table
{ float:left;
}
.widget_inner_table tr td
{ line-height:25px;
}
.table6{border:1px solid #D7DDD1;}
.table6 th{font-size:12px;font-weight:bold;color:#315702;line-height:25px;background-color:#DFEDCC;text-align:left;padding-left:15px;padding-right:15px;border-left:1px dashed #D8DDD2;}
.table6 td{border-bottom:1px solid #ECEDE8;text-align:left;padding:5px 5px 5px 10px;border-left:1px dashed #D8DDD2;}

.table7{border:1px solid #D7DDD1;}
.table7 th{font-size:12px;font-weight:bold;color:#6633CC;line-height:25px;background-color:#CCCCFF;text-align:left;padding-left:15px;padding-right:15px;border-left:1px dashed #D8DDD2;}
.table7 td{border-bottom:1px solid #ECEDE8;text-align:left;padding:5px 5px 5px 10px;border-left:1px dashed #D8DDD2;}

.table8{border:1px solid #D7DDD1;}
.table8 th{font-size:12px;font-weight:bold;color:#666633;line-height:25px;background-color:#FFFFCC;text-align:left;padding-left:15px;padding-right:15px;border-left:1px dashed #D8DDD2;}
.table8 td{border-bottom:1px solid #ECEDE8;text-align:left;padding:5px 5px 5px 10px;border-left:1px dashed #D8DDD2;}

.table9{border:1px solid #D7DDD1;}
.table9 th{font-size:12px;font-weight:bold;color:#1D4D79;line-height:25px;background-color:#D8F0FA;text-align:left;padding-left:15px;padding-right:15px;border-left:1px dashed #D8DDD2;}
.table9 td{border-bottom:1px solid #ECEDE8;text-align:left;padding:5px 5px 5px 10px;border-left:1px dashed #D8DDD2;}
.choosePop_relative { position:relative; }
.width100{width:100%;}
.fleft { float:left }
.fclear { float:none; clear:both; }


/*Robyn begin*/
.survey-question span {margin-left: 5px;}
.survey-wrap{margin-bottom:10px;}
.survey-wrap li{line-height: 1.7;}
.survey-wrap span{margin-left: 5px;}
.survey-wrap label {margin-left: 5px;}
.survey-content  li{margin-bottom:0;vertical-align: middle;line-height: 1.7;}

.progressbar { background-color: #FFFFFF;border:1px solid #C1C1C1;display: inline;float: right;position:relative;width:200px;height:15px;left:-106px;}
.progressbar-select{margin-left:0;background-color: #cfe789;display: block;height:15px;}
.progressbar-num{position:absolute;left:90px;top:-5px;height:15px;}
/*Robyn end*/

table.breakword td {word-break:break-all}

.icbc-p{padding-right:35px;background:url(/img/icbc_p.jpg) no-repeat right center;}
.icbc-g{padding-right:35px;background:url(/img/icbc_g.jpg) no-repeat right center;}
.icbc-n{padding-right:35px;background:url(/img/icbc_n.jpg) no-repeat right center;}


.check_reminder table {margin-left: 30px;}
.check_reminder{height: 285px;width: 630px;background-color: #F2F2F2;margin-left: 185px;}
.check_reminder select{height: 200px;width: 250px;}
.contact_history_dis{position: absolute; margin-top: 120px;}
.contact_history_dis h3{background-color: #F2F2F2;}
.contact_history_dis p{float: right;font-weight: bold;}
.reminder_detail {display: none;width: 160px;height: 55px;position: absolute; background-color: #FFFFFF;border: 5px solid #2778BA;margin: -34px 272px; border-radius: 5px;padding: 3px 5px;}
.draft {font-size:9px ; color:#fff;margin-left:2px;background:#C60C00}
.pending_review {font-size:9px ; color:#fff;margin-left:2px;background:#EFCB39}
.green_font_p {color: #009900;}
/* create orbitz hotel - add product start */
.back_hotel_order{ font-size: 16px; font-weight: bold; margin-top: 15px; }
#main_orbitz_hotel_filter{ margin-top: 15px;}
.cross_sale_add_hotel_city{ width:258px; float:left; margin-right:7px; background-image:url(http://images.tours4fun.com/image/cross_sale_txt_box.jpg); background-repeat:no-repeat;  color:#333;}
.cross_sale_add_hotel_city_hover{ width:258px; float:left; margin-right:7px; background-image:url(http://images.tours4fun.com/image/cross_sale_txt_box_h.jpg); background-repeat:no-repeat; color:#0065b7; }
.cross_sale_add_hotel_city_txt_box{ width:235px;padding-bottom: 0px; float:left; padding-left:22px; border:0px;  background-color:transparent; line-height:38px; height:40px; font-size:13px;  }
.cross_sale_search_btn{ width:133px; float:left; margin-left:10px; background-image:url(http://images.tours4fun.com/image/buttons/english/cross_sale_search_btn.jpg); background-repeat:no-repeat; height:39px;}
.cross_sale_search_btn:hover{ width:133px; float:left; margin-left:10px; background-image:url(http://images.tours4fun.com/image/buttons/english/cross_sale_search_btn_h.jpg); background-repeat:no-repeat; height:39px; cursor:pointer;}
.cross_sale_add_hotel_dtl{  width:205px; float:left;background-image:url(http://images.tours4fun.com/image/cross_sale_men_txt_box.jpg); background-repeat:no-repeat; height:40px;line-height:40px; vertical-align:middle;}
.cross_sale_add_hotel_dtl_hover{  width:205px; float:left;background-image:url(http://images.tours4fun.com/image/cross_sale_men_txt_box_h.jpg); background-repeat:no-repeat; height:40px; cursor:pointer;line-height:40px; vertical-align:middle;}
.cruise_ld_ship_tab {
	width:573px;
	background-color:#FFF;
	padding-left:40px;
	padding-top:25px;
	padding-bottom:25px;
	margin-bottom: 10px;
}
.last_tab{ margin-right:0px !important}
.signle_rm_icon{ background-image:url(http://images.tours4fun.com/image/signle_rm_icon.jpg); background-color:#FFF; background-repeat:no-repeat; background-position:38px 14px; }
.double_rm_icon{  background-color:#FFF; background-repeat:no-repeat; background-position:27px 14px; background-image:url(http://images.tours4fun.com/image/double_rm_icon.jpg); }
.group_icon{  background-color:#FFF; background-repeat:no-repeat; background-position:23px 14px; background-image:url(http://images.tours4fun.com/image/grp_icon.jpg);  }
.cross_sale_filter_part{ padding-top:10px;}
.rooms_part{ width:138px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px;  color:#636057;}
.rooms_part span{  font-weight:bold; line-height:25px;}
.room_nm{ border:1px solid #ccc; padding:3px;  width:60px;}
.rooms_part_search_btn{ padding-top:18px; }
.adult_child {
	float: right;
	height: 39px;
	width: 44px;
	line-height: 39px;
	cursor:pointer;
}
.cross_sale_ch_tab_bg{
	background:none  !important;
}
.remove_border{
	border-bottom:none   !important;
}
.room_select_option_label_div{
	width: 98%; float: left;padding: 8px 0 1px 0px; margin-left: 9px;
}
.room_select_option_hotel_label
{
    width: 135px;float: left;
}
.room_select_option_hotel
{
    float: left; width: 55px; padding-bottom: 10px;
}
.room_select_option_hotel label
{
    text-align: center; width: 100%; float: left;
}
.room_select_option_hotel select
{
    float: left; width: 50px; margin-left: 7px;
}
.room_select_option_hotel_span
{
    margin-right: 30px; margin-top: 5px; float: left;
}
#hotel_search_butn
{
    float: right; border: none; margin: 0px 7px 5px 0px;
}
.room_adult_child_select_option{
	margin-left: 55px;
}
.price_tab{ width:64px; float:left; font-size:13px; color:#4e4e4e; font-family:Arial, Helvetica, sans-serif; }
.f_left{ float:left; padding-left:3px;}
.pnd_right{ padding-right:12px; }
.cross_sale_hotel{  padding-left:5px;  color:#024c95; font-size:13px; padding-top:5px;  }
.cross-sale-filter {
	float:left;
	width:510px; 
}
.cross-sale-filter ul {
    height: 155px;
    margin-bottom: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 0 10px 0px;
}
.cross-sale-filter  li {
    display: inline-block;
    height: 16px;
    margin-left: 10px;
    overflow: hidden;
    padding: 4px;
    width: 145px;
	float:left;
}
.cross-sale-filter ul li label {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 145px;
	float:left;
}
.cross-sale-filter li input , .cross-sale-filter input {
    margin: 0 5px 2px 2px;
    vertical-align: middle;
}
.mr-left-15{
	margin-left: 15px;
}
.cross-sale-star {
	cursor: pointer;
    float: left;
	padding: 2px 4px;
    vertical-align: middle;
    width: 83px;
}
.hotel_list_main_box{
	float: left;
	margin-top: 50px;
	width: 100%;
}
.cross_sale_add_hotel_address_hover{ width:258px; float:left; margin-right:7px; background-image:url(http://images.tours4fun.com/image/cross_sale_txt_box_h.jpg); background-repeat:no-repeat; color:#0065b7; }
.cross_sale_add_hotel_address{ width:258px; float:left; margin-right:7px; background-image:url(http://images.tours4fun.com/image/cross_sale_txt_box.jpg); background-repeat:no-repeat;  color:#333;}
.orbitzHotelListName{ cursor: pointer; }
.popwin-con-outter{ border: 2px solid #000;}
.desc_orbitz_hotel{ overflow-x: hidden; overflow-y: scroll; height: 100%; width: 100%;}
.desc_overview{width: 100%; height:100%; float: left;}
.desc_Amenities{width: 100%; float: left;}
.desc_Amenities > ul > li { list-style-type: disc !important;}
.tour_img_mn { float: left; margin: 0; position: relative; margin: 10px; width: 235px; border-right: 1px solid #000; }
.hotel_other_dt{ float: left;}
.hotel_reviewer {float: left;width: 700px;}
.reviewer_score_count { border: 1px solid #666666;border-radius: 5px;float: left;padding: 5px 10px; }
.reviewer_score_count_b { float: left;font-weight: normal;margin-left: 5px;margin-top: 5px; }
.cross_sale_distance_box {border: 1px solid #D5D5D5;border-radius: 3px;font-size: 11px;height: 32px;line-height: 25px;padding: 7px;width: 150px;}
/* create orbitz hotel - add product end */

.hotel_rooms_adults_childs{ background-color: #fff; padding-left: 35px; width: 600px; }