
.clear{ clear:both;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
/*index*/
.main{  margin:0 auto; padding:20px 8px; background:#fff; }
.ItemsLbContent{ min-width:1000px; *min-width:990px; *width:expression(this.offsetParent.clientWidth*0.95 <990? "990px ": "95% "); width:expression(this.offsetParent.clientWidth*1 <1000? "1000px ": "100% ");}
.ItemsLbContent .contentH1{ text-align:center; font-size:16px; min-width:1000px; *min-width:990px; *width:expression(this.offsetParent.clientWidth*0.95 <990? "990px ": "95% "); width:expression(this.offsetParent.clientWidth*1 <1000? "1000px ": "100% "); }
.ItemsLbContent .contentBTp{ text-align:center; font-weight:normal; font-size:12px; color:#777; margin:10px auto; min-width:1000px; *min-width:990px; *width:expression(this.offsetParent.clientWidth*0.95 <990? "990px ": "95% "); width:expression(this.offsetParent.clientWidth*1 <1000? "1000px ": "100% ");}
.ItemsLbContent .contentBTp b{ font-weight:normal; color:#000;}
.ItemsLbContent .contentBTp i a{ font-style:normal; color:#3380F4;}

.caozuo{ color:#223C6A; text-decoration:none; font-size:12px;}
.caozuo:hover{ color:#223C6A; text-decoration:underline;}
.dosome{ color:#3380F4; text-decoration:none; font-size:12px;}
.dosome:hover{ color:#3380F4; text-decoration:underline;}

.Bread{ background:#fff; padding:20px 0 10px 10px; font-family:Arial; border-bottom:1px solid #ddd;}
.Bread p{ height:25px; line-height:25px;} 
.ItemsLbContent .wenzhangContent{padding:10px; min-width:1000px; *min-width:990px; *width:expression(this.offsetParent.clientWidth*0.95 <990? "990px ": "95% "); width:expression(this.offsetParent.clientWidth*1 <1000? "1000px ": "98% "); word-wrap : break-word ; white-space:normal;}
.indexDdanyjXxadr{ color:#00388A; text-decoration:none;}
.indexDdanyjXxadr:hover{ color:#00388A; text-decoration:underline}
.indexDdanyjXx{ width:98%; min-width:1000px; *min-width:990px; *width:expression(this.offsetParent.clientWidth*0.95 <990? "990px ": "95% "); width:expression(this.offsetParent.clientWidth*1 <1000? "1000px ": "98% "); border-bottom:1px solid #e8e8e8; border-top:1px solid #e8e8e8; line-height:30px;}
.indexDdanyjXx td{ border:solid #F6F6F6; border-width:0 0 1px 0;}
.indexDdanyjXx span{ color:#888;}
.indexDdanyjXx .caozuoContent{ width:50px; text-align:center}
.indexDdanyjXx .spanContent{ width:150px; text-align:center;}
.indexDdanyjXx .spanContentp{ text-align:right;}
.indexDdanyjXx .indexDdanyjXxBorb td{border:solid #e8e8e8; border-width:0 0 1px 0; color:#999999;}
.urgentIcon{padding:3px 20px 0 0; background:url(../images/ji.jpg) no-repeat right center;}



.dirset{float:left;width:50%;}
.rootset{float:right;width:50%;}
.allSet span {margin: 0 5px;}
.permission span {margin: 0 5px;}

/*robyn */
.folding1 .sub-title {background: url("../img/admin_title_bg.gif") no-repeat scroll right -70px transparent;cursor: pointer;}
.folding1 .sub-title-open {background-position: right 18px;}
.folding2 .sub-title {background: url("../img/admin_title_bg.gif") no-repeat scroll right -70px transparent;cursor: pointer;}
.folding2 .sub-title-open {background-position: right 18px;}