.dev_bar {
	background: #FFF;
	position: fixed;
	/*opacity: .1;*/
	width: 100%;
	left: 0;
	top: 0;
}
.dev_bar:hover {
	opacity: 1;
}
.dev_bar>div {
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
.dev_bar .ui-menu {
	position: absolute;
	min-width: 100%;
	display: none;
	top: 100%;
	left: 0;
}
.dev_bar div:hover .ui-menu {
	display: block;
}
.ui-sortable {
	box-shadow: 0 0 10px #000 inset, 0 0 10px #000;
	min-height: 100px;
	margin: 50px auto;
	max-width: 80vw;
}
.ui-sortable-helper {
	opacity: .3;
}
.ui-sortable-placeholder {
	border: 1px dashed #000;
	height: 100px;
	margin: 30px;
}
.pagetpl {
	margin: 100px auto;
	overflow: hidden;
}
.dev_module_helper {
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
	visibility: hidden;
	overflow: hidden;
}
.dev_module_header {
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	padding: 0 .5em;
	line-height: 2;
	display: none;
	cursor: move;
	color: #fff;
	background: #444444;
	background: -webkit-linear-gradient(top, #444444, #999999);
	background:         linear-gradient(to bottom, #444444, #999999);
}
.dev_module_header .btns {
	float: right;
	margin: 2px;
}
.dev_activity {
	border: 1px solid #ccc;
	visibility: visible;
	border-radius: 5px;
	margin: 30px;
}
.pic_list .dev_activity,
.product_list .dev_activity {
	margin: auto;
}
.webkit .product_list img {
	transition: none;
}
.dev_activity .dev_module_header {
	display: block;
}
.dev_module {
	visibility: visible;
}
.dev_container_inner {
	overflow: hidden;
}
.dev_contextmenu {
	position: absolute;
	display: block;
	z-index: 100;
}
/*** Input field styling from Bootstrap **/
input {
	vertical-align: middle;
}
input,
select,
textarea,
.sp-replacer {
	transition: border linear 0.2s, box-shadow linear 0.2s;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus,
select:focus,
button:focus,
textarea:focus,
.sp-active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
}
input[type=file]:focus,
input[type=checkbox]:focus {
	outline: 1px dotted #666;
	box-shadow: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
.ui-autocomplete-input,
.uneditable-input {
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 3px;
	line-height: 1.5;
	font-size: 12px;
	color: #808080;
	padding: 4px;
}
.ui_color {
	display: inline-block;
	line-height: normal;
	position: relative;
}
.ui_color [type="text"] {
}
.ui_color [type="color"] {
	position: absolute;
	padding: 0;
	border: 0;
	height: 100%;
	width: 38px;
	opacity: 0;
	right: 0;
	top: 0;
}
form {
	line-height: 3;
}
form .bgpos {
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	width: 3.5em;
}
form .bgpos input {
	float: left;
	height: 1em;
	width: 1em;
}
form label {
	white-space: nowrap;
	display: block;
}
form label[for] {
	display: inline-block;
	text-align: right;
	min-width: 5em;
}
.ui_file select {
	max-width: 12em;
}
form textarea {
	resize: vertical;
	width: 99%;
}
form [type="file"] {
	position: absolute;
	left: -1000%;
	top: -1000%;
}
.ui_file button {
	position: relative;
	overflow: hidden;
}
.ui_file input {
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
}
.pagetpl .navbar {
	display: block;
}
.pagetpl .navbar .text{
	width: auto;
}
