@charset "utf-8";
#popwin{position:fixed;_position:absolute;display:none;z-index:99;overflow:hidden;}
#popwin-bg{position:absolute;top:0;left:0;z-index:98;background-color:#CCCCCC;opacity:0.4;filter:alpha(opacity=40);display:none;}
.popwin-loading{background:#FFF url(popwin_loading.gif) no-repeat center center;}

#popwin-table{width:100%;border-spacing:0;}
#popwin-table td.pop-m{background:url(popwin_repeat.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='popwin_repeat.png', sizingMethod=scale);}
#popwin-table td.pop-tl{width:6px; height:6px;overflow:hidden;background:url(popwin_tl.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='popwin_tl.png', sizingMethod=scale);}
#popwin-table td.pop-tr{width:6px; height:6px;overflow:hidden; background:url(popwin_tr.png) no-repeat; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='popwin_tr.png', sizingMethod=scale);}
#popwin-table td.pop-bl{width:6px;height:6px;overflow:hidden;background:url(popwin_bl.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='popwin_bl.png', sizingMethod=scale);}
#popwin-table td.pop-br{width:6px;height:6px;overflow:hidden;background:url(popwin_br.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='popwin_br.png', sizingMethod=scale);}	
#popwin-header{top:0px; right:0; left: 0px; padding: 3px; background:#fff; font-weight: bold;}
#popwin-header-inner{padding: 5px; background:#EEE; margin: 5px; cursor: move; }
#popwin-con-outter{width:100%;background-color:#FFFFFF;position:relative;zoom:1;z-index:1;}
#popwin-con{width:100%;min-height:50px;_height:50px;}
#popwin-close,
.popwin-mode-normal-close{width:16px;height:16px;overflow:hidden;background:url(popwin_close.gif) no-repeat;cursor:pointer;position:absolute;top:18px;right:18px;z-index:2;}
#popwin-mini-rest{width:16px; height: 16px; position: absolute; cursor: pointer; overflow: hidden; right: 39px; top:18px;}
.popwin-minimize{background:url("popwin_minimize.gif") no-repeat;}
.popwin-restore{background:url("popwin_restore.gif") no-repeat;}
.popwin-inner{padding:15px;}
.popwin-tit{width:100%;height:25px;line-height:25px;border-bottom:1px #DBDBDB dashed;font-size:14px;}
.popwin-tit span{font-size:12px;margin-left:10px;color:#777;font-weight:normal;}
.popwin-hide{display:none;}

.popwin-quick-box{width:335px;position:relative;padding:30px 10px 60px 35px;}
.popwin-icon{display:inline-block;width:60px;height:60px;background-image:url(popwin_quick_icon.png);background-repeat:no-repeat;}
.popwin-info{background-position:0 0;}
.popwin-warn{background-position:0 -60px;}
.popwin-error{background-position:0 -120px;}
.popwin-ask{background-position:0 -180px;}
.popwin-success{background-position:0 -240px;}
.popwin-quick-text{line-height:20px;font-size:12px;}
.popwin-btn-wrap{width:380px;height:27px;position:absolute;left:0;bottom:20px;text-align:center;}
.popwin-btn{display:inline-block;padding:0 30px;text-align:center;line-height:25px;border:1px solid #C7C7C7;font-weight:bold;color:#000;font-size:12px;text-decoration:none;background:url(popwin_btn_bg.png) repeat-x left -40px;font-family:Arail;min-width:40px;text-decoration:none;}
.popwin-btn:hover{background-position:0 -80px;color:#FFFFFF;border-color:#F48A00;text-decoration:none;}
.popwin-mode-normal{position:fixed;_position:absolute;z-index:99;background-color:#FFF;border:2px solid #CCC;border-radius:5px;}

